<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
</head>

<body>
    <!-- Navbar -->
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Blackjack</a>
                <ul class="nav navbar-nav">
                    <li><a href="/blackjack">Play</a></li>
                    <li><a href="/home/About">About</a></li>
                    <li><a href="/home/Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Page body -->
    <p><strong>@ViewData["Message"]</strong></p>
    @RenderBody()
</body>