<div class="container-fluid">
    <!-- Scripts for playing the game -->
    <script src="~/js/blackjack/api.js" type="text/javascript"></script>
    <script src="~/js/blackjack/game.js" type="text/javascript"></script>
    <script src="~/js/blackjack/button.js" type="text/javascript"></script>

    <script type="text/javascript">
        // Start a new game when the page loads
        newGame();
    </script>

    <!-- Dealer hand NOTE: UI must support up to 11 cards-->
    <div class="row">
        <div class="col align-self-start text-left">
            <img id="dealer0" src="">
            <img id="dealer1" src="">
            <img id="dealer2" src="">
            <img id="dealer3" src="">
            <img id="dealer4" src="">
            <img id="dealer5" src="">
            <img id="dealer6" src="">
            <img id="dealer7" src="">
            <img id="dealer8" src="">
            <img id="dealer9" src="">
            <img id="dealer10" src="">
            <strong id="dealertext">Dealer</strong>
        </div>
    </div>

    <!-- Buttons -->
    <div class="row" style="padding: 15;">
        <div class="col">
            <!-- empty -->
        </div>
        <div class="col text-center">
            <button onclick="hitButton()">Hit</button><button onclick="standButton()">Stand</button>
        </div>
        <div class="col">
            <!-- empty -->
        </div>
    </div>

    <!-- Player hand -->
    <div class="row">
        <div class="col align-self-end text-right">
            <strong id="playertext">Player</strong>
            <img id="player10" src="">
            <img id="player9" src="">
            <img id="player8" src="">
            <img id="player7" src="">
            <img id="player6" src="">
            <img id="player5" src="">
            <img id="player4" src="">
            <img id="player3" src="">
            <img id="player2" src="">
            <img id="player1" src="">
            <img id="player0" src="">
        </div>
    </div>

    <!-- Score -->
    <div class="row" style="padding: 10;">
        <div class="col">
            <!-- empty -->
        </div>
        <div id="win" class="col text-center border">
            Wins: 0
        </div>
        <div id="lose" class="col text-center border">
            Losses: 0
        </div>
        <div class="col">
            <!-- empty -->
        </div>
    </div>

    <!-- Win/ loss messages -->
    <div class="row">
        <div class="col text-center">
            <h1 id="footer"></h1>
        </div>
    </div>
</div>