<div class="container-fluid" syle="padding: 10;">
    <h1>Game Rules</h1>
    <p>Blackjack is a game played between two players, the 'Dealer' and the 'Player'</p>
    <p>Each player takes turns drawing cards, attempting to get a set of cards as close to the value of 21 as possible.</p>
    <p>Each player may choose to 'Hit' on their turn and draw another card, or 'Stand,' which prohibits them from drawing any more cards for the rest of the round.</p>
    <p>When a player totals more than 21, they 'bust,' and automatically lose the round.</p>
    <p>After both players have chosen to stand, the player with the highest total value wins, provided they did not bust.</p>
</div>