<div class="container-fluid text-center">
    <h1>Welcome to Blackjack!</h1>
    <p>The time is @DateTime.Now</p>
    Go play some <a href="/blackjack/index">blackjack!</a><br><br>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Playing_card_diamond_A.svg/192px-Playing_card_diamond_A.svg.png">
</div>